<launch>

  <include file="$(find panda_moveit_config)/launch/demo_gazebo_supermarket.launch">
    <arg name="paused" value="false"/>
    <arg name="gazebo_gui" value="true"/>
  </include>

  <node pkg="tf" type="static_transform_publisher"
      name="depth_camera_tf"
      args="0.158364 -0.133043 0.555751 0 0 -1.57 world depth_camera_link 100" >
  </node>

  <node pkg="sam_perception" type="grasp_from_sam.py" name="grasp_from_sam" output="screen"
        launch-prefix="env LD_PRELOAD=/usr/lib/x86_64-linux-gnu/libffi.so.7 /home/lhj/anaconda3/envs/anygrasp_env/bin/python">
        <param name="model_type" value="vit_b" />
  </node>

  <node pkg="sam_perception" type="sam_node.py" name="sam_perception_node" output="screen"
        launch-prefix="env LD_PRELOAD=/usr/lib/x86_64-linux-gnu/libffi.so.7 /home/lhj/anaconda3/envs/anygrasp_env/bin/python">
        <param name="model_type" value="vit_b" />
  </node>

</launch>

