
<launch>
  <arg name="anygrasp_python" default="$(optenv ANYGRASP_PYTHON /usr/bin/python3)" />


  <node pkg="sam_perception" type="grasp_from_sam.py" name="grasp_from_sam" output="screen"
          launch-prefix="$(arg anygrasp_python)">
          
          <param name="model_type" value="vit_b" />
  </node>


</launch>
