<launch>
    <!-- 常用候选:
       panda_manipulator[RRTConnect]
       panda_manipulator[RRT]
       panda_manipulator[RRTstar]
       panda_manipulator[PRMstar]
       panda_manipulator[BITstar]
       panda_manipulator[ABITstar]
    -->
  <arg name="planner_id" default="panda_manipulator[RRTConnect]" />
  <arg name="anygrasp_python" default="$(optenv ANYGRASP_PYTHON python3)" />
  <arg name="anygrasp_ld_preload" default="$(optenv ANYGRASP_LD_PRELOAD)" />
  <arg name="launch_demo" default="false" />
  <arg name="launch_scheduler" default="false" />
  <arg name="launch_wrist_vlm" default="true" />
  <arg name="launch_wrist_grasp_refiner" default="false" />
  <arg name="launch_global_vlm" default="false" />
  <arg name="launch_semantic_reranker" default="false" />
  <arg name="launch_ik_filter" default="false" />
  <arg name="launch_experiment_logger" default="false" />
  <arg name="scene_label" default="unknown" />
  <arg name="experiment_notes" default="" />
  <arg name="experiment_output_file" default="$(env HOME)/grasp_robot_ws/experiment_results/end_to_end_metrics.csv" />
  <arg name="basket_x" default="0.393296" />
  <arg name="basket_y" default="-0.315779" />
  <arg name="basket_z" default="0.140719" />
  <arg name="use_basket_slot_grid" default="false" />
  <arg name="use_fixed_shelf_collision" default="false" />
  <arg name="force_shelf_normal_approach" default="true" />
  <arg name="simple_front_grasp_mode" default="true" />
  <arg name="simple_front_insert_extra_depth" default="0.010" />
  <arg name="simple_front_extra_retreat" default="0.080" />
  <arg name="grasp_pose_approach_axis" default="+z" />
  <arg name="grasp_pose_open_axis" default="+x" />
  <arg name="use_grasp_pose_open_axis_orientation" default="false" />
  <arg name="allow_raw_grasp_pose_orientation" default="false" />
  <arg name="enforce_horizontal_gripper_open_axis" default="true" />
  <arg name="max_gripper_open_axis_vertical_component" default="0.25" />
  <arg name="grasp_transport_mode" default="force_only" />
  <arg name="shelf_model_name" default="narrow_supermarket_shelf_enclosed_0" />
  <arg name="shelf_pose_fallback_x" default="0.737098" />
  <arg name="shelf_pose_fallback_y" default="-0.148598" />
  <arg name="shelf_pose_fallback_z" default="0.205537" />
  <arg name="shelf_pose_fallback_yaw" default="0.0" />
  <arg name="figure_output_dir" default="$(env HOME)/grasp_robot_ws/thesis_figures" />
  <arg name="save_thesis_figures" default="false" />
  <arg name="save_task_keyframes" default="false" />
  <arg name="show_grasp_debug" default="false" />
  <arg name="visualize_grasp_on_depth" default="false" />
  <arg name="visualize_grasp_o3d" default="false" />
  <arg name="top_k_per_object" default="15" />
  <arg name="grasp_sampling_passes" default="3" />
  <arg name="object_front_depth_percentile" default="15.0" />
  <arg name="object_depth_gate_band" default="0.06" />
  <arg name="object_component_min_pixels" default="30" />
  <arg name="publish_background_collision_cloud" default="false" />
  <arg name="publish_local_obstacle_cloud" default="false" />
  <arg name="local_obstacle_max_points" default="6000" />
  <arg name="shelf_inner_margin_x" default="0.03" />
  <arg name="shelf_inner_margin_y" default="0.03" />
  <arg name="shelf_inner_margin_z" default="0.015" />
  <arg name="background_min_depth" default="0.55" />
  <arg name="object_clearance_margin_x" default="0.06" />
  <arg name="object_clearance_margin_y" default="0.08" />
  <arg name="object_clearance_margin_z" default="0.08" />
  <arg name="collision_clearance_margin_px" default="70" />
  <arg name="collision_clearance_kernel" default="121" />
  <arg name="collision_clearance_depth_band" default="0.35" />
  <arg name="center_penalty_weight" default="1.5" />
  <arg name="semantic_center_offset_weight" default="0.18" />
  <arg name="front_alignment_weight" default="0.55" />
  <arg name="width_preference_weight" default="0.35" />
  <arg name="shelf_clearance_weight" default="0.45" />
  <arg name="neighbor_clearance_weight" default="0.35" />
  <arg name="height_center_penalty_weight" default="1.00" />
  <arg name="enforce_grasp_height_band" default="true" />
  <arg name="min_grasp_height_fraction" default="0.30" />
  <arg name="max_grasp_height_fraction" default="0.85" />
  <arg name="preferred_shelf_clearance" default="0.04" />
  <arg name="preferred_neighbor_clearance" default="0.05" />
  <arg name="min_shelf_forward_alignment" default="0.25" />
  <arg name="allow_clearance_fallback" default="false" />
  <arg name="enforce_shelf_cavity_filter" default="false" />
  <arg name="enable_box_fallback_grasp" default="true" />
  <arg name="enable_width_filter" default="true" />
  <arg name="gripper_width_max" default="0.078" />
  <arg name="gripper_width_margin" default="0.006" />
  <arg name="pre_grasp_back_distance" default="0.12" />
  <arg name="pre_grasp_back_distance_candidates" default="[0.12, 0.15, 0.18]" />
  <arg name="observation_planning_time" default="0.6" />
  <arg name="observation_planning_attempts" default="1" />
  <arg name="observation_lift_candidates" default="[0.00, 0.04]" />
  <arg name="max_observation_search_time" default="35.0" />
  <arg name="allow_relaxed_observation_orientation" default="true" />
  <arg name="joint_limit_margin" default="0.003" />
  <arg name="wrist_observation_backoff" default="0.04" />
  <arg name="wrist_depth_band" default="0.05" />
  <arg name="wrist_front_depth_percentile" default="20.0" />
  <arg name="wrist_min_valid_depth" default="0.02" />
  <arg name="wrist_max_valid_depth" default="0.50" />
  <arg name="wrist_default_fx" default="500.0" />
  <arg name="wrist_default_fy" default="500.0" />
  <arg name="wrist_alignment_target_hand_x" default="0.000" />
  <arg name="wrist_alignment_target_hand_y" default="0.000" />
  <arg name="wrist_alignment_target_hand_z" default="0.000" />
  <arg name="wrist_alignment_max_step_xy" default="0.030" />
  <arg name="wrist_alignment_max_step_z" default="0.015" />
  <arg name="enable_wrist_tf_guard" default="true" />
  <arg name="wrist_tf_guard_trans_tol" default="0.002" />
  <arg name="wrist_tf_guard_rot_tol_deg" default="0.8" />
  <arg name="insert_extra_depth_min" default="0.02" />
  <arg name="insert_depth_margin" default="0.015" />
  <arg name="insert_extra_depth_max" default="0.09" />
  <arg name="insert_distance_over_back_cap" default="0.08" />
  <arg name="insert_distance_absolute_max" default="0.20" />
  <arg name="wrist_visibility_margin_px" default="18" />
  <arg name="wrist_require_full_visibility" default="false" />
  <arg name="wrist_visibility_fallback_max_insert" default="0.09" />
  <arg name="wrist_min_insert_fraction" default="0.60" />
  <arg name="use_iterative_wrist_alignment" default="false" />
  <arg name="wrist_alignment_max_iters" default="1" />
  <arg name="use_final_wrist_alignment" default="true" />
  <arg name="wrist_alignment_allow_vertical" default="true" />
  <arg name="wrist_alignment_use_camera_plane_tf" default="true" />
  <arg name="final_preinsert_world_z_lift" default="0.0005" />
  <arg name="wrist_vlm_timeout_sec" default="4.0" />
  <arg name="wrist_vlm_max_retries" default="0" />
  <arg name="wrist_vlm_max_image_side" default="480" />
  <arg name="wrist_vlm_jpeg_quality" default="70" />
  <arg name="require_wrist_alignment" default="false" />
  <arg name="wrist_alignment_before_pregrasp" default="true" />
  <arg name="use_wrist_guided_insert_distance" default="true" />
  <arg name="wrist_extra_insert_max" default="0.05" />
  <arg name="wrist_insert_allow_shorten" default="false" />
  <arg name="wrist_insert_shorten_max" default="0.08" />
  <arg name="wrist_insert_depth_scale" default="0.35" />
  <arg name="wrist_insert_depth_cap" default="0.015" />
  <arg name="wrist_alignment_tol" default="0.008" />
  <arg name="wrist_grasp_depth_margin" default="0.005" />
  <arg name="wrist_grasp_forward_min" default="0.075" />
  <arg name="wrist_grasp_forward_max" default="0.110" />
  <arg name="use_wrist_grasp_refinement" default="false" />
  <arg name="wrist_object_cloud_topic" default="/sam_perception/wrist_object_cloud" />
  <arg name="wrist_grasp_pose_topic" default="/graspnet/wrist_grasp_pose_array" />
  <arg name="wrist_grasp_info_topic" default="/graspnet/wrist_grasp_info" />
  <arg name="wrist_grasp_timeout_sec" default="6.0" />
  <arg name="wrist_grasp_bbox_margin_px" default="8" />
  <arg name="wrist_grasp_depth_band" default="0.06" />
  <arg name="wrist_grasp_min_points" default="80" />
  <arg name="wrist_grasp_cloud_max_points" default="12000" />
  <arg name="wrist_grasp_min_approach_alignment" default="0.25" />
  <arg name="refresh_collision_before_pick" default="true" />
  <arg name="grasp_corridor_padding" default="0.03" />
  <arg name="enable_direct_grasp_fallback" default="true" />
  <arg name="direct_grasp_back_distance_candidates" default="[0.04, 0.06, 0.08]" />
  <arg name="direct_grasp_planning_time" default="3.0" />
  <arg name="direct_grasp_planning_attempts" default="5" />
  <arg name="direct_grasp_retreat_distance" default="0.08" />
  <arg name="direct_grasp_require_width_hold" default="true" />
  <arg name="enable_gazebo_attach" default="false" />
  <arg name="enable_attached_collision_object" default="false" />
  <arg name="gazebo_attach_distance_threshold" default="0.18" />
  <arg name="gazebo_attach_link_name" default="panda_link8" />
  <arg name="use_gazebo_grasp_height_correction" default="false" />
  <arg name="gazebo_grasp_height_correction_xy_threshold" default="0.12" />
  <arg name="gazebo_grasp_height_correction_max_delta" default="0.06" />
  <arg name="gazebo_height_correction_blend_ratio" default="0.5" />
  <arg name="gazebo_height_correction_max_z" default="0.78" />
  <arg name="gazebo_grasp_height_correction_z_bias" default="0.0" />
  <arg name="transport_step_size" default="0.025" />
  <arg name="insert_step_size" default="0.025" />
  <arg name="retreat_step_size" default="0.025" />
  <arg name="lift_step_size" default="0.012" />
  <arg name="post_grasp_lift_distance" default="0.015" />
  <arg name="cartesian_eef_step" default="0.005" />
  <arg name="use_pose_preserving_transport" default="false" />
  <arg name="place_hover_height" default="0.05" />
  <arg name="place_release_height_offset" default="0.02" />
  <arg name="place_release_height_above_basket" default="0.20" />
  <arg name="place_orientation_mode" default="preserve" />
  <arg name="place_allow_position_only_fallback" default="false" />
  <arg name="place_path_orientation_tolerance_deg" default="4.0" />
  <arg name="place_ik_timeout_sec" default="0.35" />
  <arg name="place_ik_seed_trials" default="3" />
  <arg name="plan_execution_start_tolerance" default="0.01" />
  <arg name="global_velocity_scaling" default="0.30" />
  <arg name="global_acceleration_scaling" default="0.25" />
  <arg name="place_fallback_velocity_scaling" default="0.18" />
  <arg name="place_fallback_acceleration_scaling" default="0.12" />
  <arg name="cartesian_retime" default="true" />
  <arg name="cartesian_velocity_scaling" default="0.12" />
  <arg name="cartesian_acceleration_scaling" default="0.08" />
  <arg name="simple_place_drop" default="true" />
  <arg name="fast_drop_when_inside_basket" default="true" />
  <arg name="fast_drop_inner_margin_xy" default="0.015" />
  <arg name="fast_drop_min_height_above_top" default="0.02" />
  <arg name="grasp_roll_variants" default="['x_up', 'x_down']" />
  <arg name="grasp_force" default="50.0" />
  <arg name="grasp_width_margin" default="0.008" />
  <arg name="grasp_width_margin_ratio" default="0.060" />
  <arg name="grasp_width_margin_wide" default="0.012" />
  <arg name="grasp_width_margin_wide_threshold" default="0.070" />
  <arg name="grasp_command_width_min" default="0.008" />
  <arg name="grasp_command_width_max" default="0.078" />
  <arg name="grasp_probe_retreat_distance" default="0.0" />
  <arg name="grasp_probe_wait_sec" default="0.10" />
  <arg name="enable_grasp_resqueeze_retry" default="true" />
  <arg name="grasp_resqueeze_extra_margin" default="0.006" />
  <arg name="grasp_resqueeze_force_boost" default="10.0" />
  <arg name="grasp_empty_close_threshold" default="0.010" />
  <arg name="grasp_epsilon_inner" default="0.030" />
  <arg name="grasp_epsilon_outer" default="0.030" />
  <arg name="close_extra_shrink" default="0.004" />
  <arg name="close_width_floor" default="0.006" />
  <arg name="grasp_timeout_sec" default="4.0" />
  <arg name="soft_grasp_width_tolerance" default="0.030" />
  <arg name="soft_grasp_under_width_tolerance" default="0.018" />
  <arg name="soft_grasp_over_width_tolerance" default="0.008" />
  <arg name="soft_grasp_min_width" default="0.035" />
  <arg name="soft_grasp_max_width" default="0.078" />
  <arg name="force_grasp_verify_after_close" default="true" />
  <arg name="force_grasp_verify_after_retreat" default="true" />
  <arg name="force_grasp_verify_wait_sec" default="0.25" />
  <arg name="gazebo_functional_grasp_verify" default="true" />
  <arg name="gazebo_functional_grasp_max_object_to_ee" default="0.14" />
  <arg name="gazebo_functional_grasp_min_object_motion" default="0.015" />
  <arg name="gazebo_functional_grasp_min_follow_ratio" default="0.35" />
  <arg name="gazebo_functional_grasp_probe_min_object_motion" default="0.006" />
  <arg name="gazebo_functional_grasp_probe_min_follow_ratio" default="0.30" />
  <arg name="refresh_collision_after_each_place" default="false" />
  <arg name="strict_width_filter" default="true" />
  <arg name="scheduler_pose_topic" default="/graspnet/grasp_pose_array_raw" />
  <arg name="scheduler_info_topic" default="/graspnet/grasp_info_raw" />
  <arg name="fallback_pose_topic" default="/graspnet/grasp_pose_array_raw" />
  <arg name="fallback_info_topic" default="/graspnet/grasp_info_raw" />
  <arg name="fallback_timeout_sec" default="1.5" />
  <arg name="enable_scheduler_fallback" default="true" />
  <arg name="semantic_weight" default="0.0" />
  <arg name="reachability_weight" default="0.15" />
  <arg name="per_task_candidate_count" default="4" />
  <arg name="ga_population_size" default="50" />
  <arg name="ga_generations" default="30" />
  <arg name="ga_mutation_rate" default="0.20" />
  <arg name="allow_unreachable_candidate_dispatch" default="true" />
  <arg name="scheduler_ik_seed_trials" default="3" />
  <arg name="scheduler_ik_timeout_sec" default="0.35" />
  <arg name="semantic_fallback_timeout_min" default="12.0" />
  <arg name="vlm_api_key" default="" />
  <arg name="vlm_model" default="qwen-vl-max" />
  <arg name="vlm_base_url" default="https://dashscope.aliyuncs.com/compatible-mode/v1" />
  <arg name="global_vlm_timeout_sec" default="8.0" />
  <arg name="global_vlm_max_retries" default="1" />
  <arg name="global_vlm_allow_partial_targets" default="false" />
  <arg name="semantic_vlm_timeout_sec" default="10.0" />
  <arg name="semantic_vlm_max_retries" default="0" />
  <arg name="semantic_vlm_parallel_workers" default="2" />
  <arg name="semantic_skip_vlm_for_single_object" default="true" />
  <arg name="semantic_max_candidates_per_object" default="3" />
  <arg name="semantic_overview_candidates_per_object" default="15" />
  <arg name="semantic_output_candidates_per_object" default="6" />
  <arg name="ik_filter_timeout_sec" default="0.30" />
  <arg name="ik_filter_max_feasible_per_object" default="15" />
  <arg name="ik_filter_max_ik_checks_per_object" default="0" />
  <arg name="execution_ik_max_observation_attempts" default="0" />
  <arg name="ik_filter_assume_all_reachable" default="false" />
  <arg name="observation_ik_avoid_collisions" default="true" />
  <arg name="enable_goal_state_validity_check" default="true" />
  <arg name="observation_ik_seed_trials" default="3" />
  <arg name="observation_ik_timeout_sec" default="0.5" />


  <include file="$(find panda_moveit_config)/launch/demo_gazebo_system.launch">
    <arg name="paused" value="false"/>
    <arg name="gazebo_gui" value="true"/>
  </include>

  <node pkg="tf" type="static_transform_publisher"
      name="depth_camera_tf"
      args="-0.032146 -0.289119 0.562988 -1.57 0 -1.57 world depth_camera_link 100" >
  </node>

  <node pkg="sam_perception" type="grasp_from_sam.py" name="grasp_from_sam" output="screen"
      launch-prefix="env LD_PRELOAD=$(arg anygrasp_ld_preload) $(arg anygrasp_python)">
    <param name="model_type" value="vit_b" />
    <param name="approach_offset" value="0.02" />
    <param name="save_thesis_figures" value="$(arg save_thesis_figures)" />
    <param name="figure_output_dir" value="$(arg figure_output_dir)" />
    <param name="visualize_grasp_on_depth" value="$(arg visualize_grasp_on_depth)" />
    <param name="visualize_grasp_o3d" value="$(arg visualize_grasp_o3d)" />
    <param name="top_k_per_object" value="$(arg top_k_per_object)" />
    <param name="grasp_sampling_passes" value="$(arg grasp_sampling_passes)" />
    <param name="object_front_depth_percentile" value="$(arg object_front_depth_percentile)" />
    <param name="object_depth_gate_band" value="$(arg object_depth_gate_band)" />
    <param name="object_component_min_pixels" value="$(arg object_component_min_pixels)" />
    <param name="background_min_depth" value="$(arg background_min_depth)" />
    <param name="object_clearance_margin_x" value="$(arg object_clearance_margin_x)" />
    <param name="object_clearance_margin_y" value="$(arg object_clearance_margin_y)" />
    <param name="object_clearance_margin_z" value="$(arg object_clearance_margin_z)" />
    <param name="collision_clearance_margin_px" value="$(arg collision_clearance_margin_px)" />
    <param name="collision_clearance_kernel" value="$(arg collision_clearance_kernel)" />
    <param name="collision_clearance_depth_band" value="$(arg collision_clearance_depth_band)" />
    <param name="center_penalty_weight" value="$(arg center_penalty_weight)" />
    <param name="front_alignment_weight" value="$(arg front_alignment_weight)" />
    <param name="width_preference_weight" value="$(arg width_preference_weight)" />
    <param name="shelf_clearance_weight" value="$(arg shelf_clearance_weight)" />
    <param name="neighbor_clearance_weight" value="$(arg neighbor_clearance_weight)" />
    <param name="height_center_penalty_weight" value="$(arg height_center_penalty_weight)" />
    <param name="enforce_grasp_height_band" value="$(arg enforce_grasp_height_band)" />
    <param name="min_grasp_height_fraction" value="$(arg min_grasp_height_fraction)" />
    <param name="max_grasp_height_fraction" value="$(arg max_grasp_height_fraction)" />
    <param name="preferred_shelf_clearance" value="$(arg preferred_shelf_clearance)" />
    <param name="preferred_neighbor_clearance" value="$(arg preferred_neighbor_clearance)" />
    <param name="min_shelf_forward_alignment" value="$(arg min_shelf_forward_alignment)" />
    <param name="allow_clearance_fallback" value="$(arg allow_clearance_fallback)" />
    <param name="enforce_shelf_cavity_filter" value="$(arg enforce_shelf_cavity_filter)" />
    <param name="enable_box_fallback_grasp" value="$(arg enable_box_fallback_grasp)" />
    <param name="enable_width_filter" value="$(arg enable_width_filter)" />
    <param name="gripper_width_max" value="$(arg gripper_width_max)" />
    <param name="gripper_width_margin" value="$(arg gripper_width_margin)" />
    <param name="shelf_model_name" value="$(arg shelf_model_name)" />
    <param name="shelf_pose_fallback_x" value="$(arg shelf_pose_fallback_x)" />
    <param name="shelf_pose_fallback_y" value="$(arg shelf_pose_fallback_y)" />
    <param name="shelf_pose_fallback_z" value="$(arg shelf_pose_fallback_z)" />
    <param name="shelf_pose_fallback_yaw" value="$(arg shelf_pose_fallback_yaw)" />
  </node>

  <node pkg="sam_perception" type="grasp_from_sam.py" name="wrist_grasp_from_sam" output="screen"
      if="$(arg launch_wrist_grasp_refiner)"
      launch-prefix="env LD_PRELOAD=$(arg anygrasp_ld_preload) $(arg anygrasp_python)">
    <param name="model_type" value="vit_b" />
    <param name="object_cloud_topic" value="$(arg wrist_object_cloud_topic)" />
    <param name="rgb_topic" value="/wrist_camera/color/image_raw" />
    <param name="depth_topic" value="/wrist_camera/depth/image_raw" />
    <param name="camera_info_topic" value="/wrist_camera/color/camera_info" />
    <param name="pose_array_topic" value="$(arg wrist_grasp_pose_topic)" />
    <param name="info_topic" value="$(arg wrist_grasp_info_topic)" />
    <param name="raw_marker_topic" value="/graspnet/wrist_raw_grasp_markers" />
    <param name="corrected_marker_topic" value="/graspnet/wrist_corrected_grasp_markers" />
    <param name="approach_offset" value="0.02" />
    <param name="visualize_grasp_on_depth" value="false" />
    <param name="visualize_grasp_o3d" value="false" />
    <param name="top_k_per_object" value="6" />
    <param name="grasp_sampling_passes" value="1" />
    <param name="center_penalty_weight" value="$(arg center_penalty_weight)" />
    <param name="front_alignment_weight" value="$(arg front_alignment_weight)" />
    <param name="width_preference_weight" value="$(arg width_preference_weight)" />
    <param name="height_center_penalty_weight" value="$(arg height_center_penalty_weight)" />
    <param name="enforce_grasp_height_band" value="$(arg enforce_grasp_height_band)" />
    <param name="min_grasp_height_fraction" value="$(arg min_grasp_height_fraction)" />
    <param name="max_grasp_height_fraction" value="$(arg max_grasp_height_fraction)" />
    <param name="enable_box_fallback_grasp" value="$(arg enable_box_fallback_grasp)" />
    <param name="enable_width_filter" value="$(arg enable_width_filter)" />
    <param name="gripper_width_max" value="$(arg gripper_width_max)" />
    <param name="gripper_width_margin" value="$(arg gripper_width_margin)" />
    <param name="shelf_model_name" value="$(arg shelf_model_name)" />
    <param name="shelf_pose_fallback_x" value="$(arg shelf_pose_fallback_x)" />
    <param name="shelf_pose_fallback_y" value="$(arg shelf_pose_fallback_y)" />
    <param name="shelf_pose_fallback_z" value="$(arg shelf_pose_fallback_z)" />
    <param name="shelf_pose_fallback_yaw" value="$(arg shelf_pose_fallback_yaw)" />
  </node>

  <node pkg="sam_perception" type="sam_node.py" name="sam_perception_node" output="screen"
      launch-prefix="env LD_PRELOAD=$(arg anygrasp_ld_preload) $(arg anygrasp_python)">
    <param name="model_type" value="vit_b" />
    <param name="debug_o3d" value="false" />
    <param name="publish_background_collision_cloud" value="$(arg publish_background_collision_cloud)" />
    <param name="publish_local_obstacle_cloud" value="$(arg publish_local_obstacle_cloud)" />
    <param name="local_obstacle_max_points" value="$(arg local_obstacle_max_points)" />
    <param name="shelf_model_name" value="$(arg shelf_model_name)" />
    <param name="shelf_pose_fallback_x" value="$(arg shelf_pose_fallback_x)" />
    <param name="shelf_pose_fallback_y" value="$(arg shelf_pose_fallback_y)" />
    <param name="shelf_pose_fallback_z" value="$(arg shelf_pose_fallback_z)" />
    <param name="shelf_pose_fallback_yaw" value="$(arg shelf_pose_fallback_yaw)" />
    <param name="shelf_inner_margin_x" value="$(arg shelf_inner_margin_x)" />
    <param name="shelf_inner_margin_y" value="$(arg shelf_inner_margin_y)" />
    <param name="shelf_inner_margin_z" value="$(arg shelf_inner_margin_z)" />
    <param name="background_min_depth" value="$(arg background_min_depth)" />
    <param name="object_clearance_margin_x" value="$(arg object_clearance_margin_x)" />
    <param name="object_clearance_margin_y" value="$(arg object_clearance_margin_y)" />
    <param name="object_clearance_margin_z" value="$(arg object_clearance_margin_z)" />
    <param name="collision_clearance_margin_px" value="$(arg collision_clearance_margin_px)" />
    <param name="collision_clearance_kernel" value="$(arg collision_clearance_kernel)" />
    <param name="collision_clearance_depth_band" value="$(arg collision_clearance_depth_band)" />
    <param name="object_front_depth_percentile" value="$(arg object_front_depth_percentile)" />
    <param name="object_depth_gate_band" value="$(arg object_depth_gate_band)" />
    <param name="object_component_min_pixels" value="$(arg object_component_min_pixels)" />
    <param name="save_thesis_figures" value="$(arg save_thesis_figures)" />
    <param name="figure_output_dir" value="$(arg figure_output_dir)" />
  </node>


  <node pkg="panda_pick_place" type="demo.py" name="pick_place_service" output="screen"
        if="$(arg launch_demo)"
        launch-prefix="/usr/bin/python3">
        <param name="planner_id" value="$(arg planner_id)" />
        <param name="basket_x" value="$(arg basket_x)" />
        <param name="basket_y" value="$(arg basket_y)" />
        <param name="basket_z" value="$(arg basket_z)" />
        <param name="use_basket_slot_grid" value="$(arg use_basket_slot_grid)" />
        <param name="use_fixed_shelf_collision" value="$(arg use_fixed_shelf_collision)" />
        <param name="force_shelf_normal_approach" value="$(arg force_shelf_normal_approach)" />
        <param name="simple_front_grasp_mode" value="$(arg simple_front_grasp_mode)" />
        <param name="simple_front_insert_extra_depth" value="$(arg simple_front_insert_extra_depth)" />
        <param name="simple_front_extra_retreat" value="$(arg simple_front_extra_retreat)" />
        <param name="grasp_pose_approach_axis" value="$(arg grasp_pose_approach_axis)" />
        <param name="grasp_pose_open_axis" value="$(arg grasp_pose_open_axis)" />
        <param name="use_grasp_pose_open_axis_orientation" value="$(arg use_grasp_pose_open_axis_orientation)" />
        <param name="allow_raw_grasp_pose_orientation" value="$(arg allow_raw_grasp_pose_orientation)" />
        <param name="enforce_horizontal_gripper_open_axis" value="$(arg enforce_horizontal_gripper_open_axis)" />
        <param name="max_gripper_open_axis_vertical_component" value="$(arg max_gripper_open_axis_vertical_component)" />
        <param name="grasp_transport_mode" value="$(arg grasp_transport_mode)" />
        <param name="shelf_model_name" value="$(arg shelf_model_name)" />
        <param name="shelf_pose_fallback_x" value="$(arg shelf_pose_fallback_x)" />
        <param name="shelf_pose_fallback_y" value="$(arg shelf_pose_fallback_y)" />
        <param name="shelf_pose_fallback_z" value="$(arg shelf_pose_fallback_z)" />
        <param name="shelf_pose_fallback_yaw" value="$(arg shelf_pose_fallback_yaw)" />
        <param name="figure_output_dir" value="$(arg figure_output_dir)" />
        <param name="save_task_keyframes" value="$(arg save_task_keyframes)" />
        <param name="show_grasp_debug" value="$(arg show_grasp_debug)" />
        <param name="pre_grasp_back_distance" value="$(arg pre_grasp_back_distance)" />
        <rosparam param="pre_grasp_back_distance_candidates" subst_value="True">$(arg pre_grasp_back_distance_candidates)</rosparam>
        <param name="observation_planning_time" value="$(arg observation_planning_time)" />
        <param name="observation_planning_attempts" value="$(arg observation_planning_attempts)" />
        <rosparam param="observation_lift_candidates" subst_value="True">$(arg observation_lift_candidates)</rosparam>
        <param name="max_observation_search_time" value="$(arg max_observation_search_time)" />
        <param name="allow_relaxed_observation_orientation" value="$(arg allow_relaxed_observation_orientation)" />
        <param name="observation_ik_avoid_collisions" value="$(arg observation_ik_avoid_collisions)" />
        <param name="enable_goal_state_validity_check" value="$(arg enable_goal_state_validity_check)" />
        <param name="observation_ik_seed_trials" value="$(arg observation_ik_seed_trials)" />
        <param name="observation_ik_timeout_sec" value="$(arg observation_ik_timeout_sec)" />
        <param name="joint_limit_margin" value="$(arg joint_limit_margin)" />
        <param name="wrist_observation_backoff" value="$(arg wrist_observation_backoff)" />
        <param name="wrist_depth_band" value="$(arg wrist_depth_band)" />
        <param name="wrist_front_depth_percentile" value="$(arg wrist_front_depth_percentile)" />
        <param name="wrist_min_valid_depth" value="$(arg wrist_min_valid_depth)" />
        <param name="wrist_max_valid_depth" value="$(arg wrist_max_valid_depth)" />
        <param name="wrist_default_fx" value="$(arg wrist_default_fx)" />
        <param name="wrist_default_fy" value="$(arg wrist_default_fy)" />
        <param name="wrist_alignment_target_hand_x" value="$(arg wrist_alignment_target_hand_x)" />
        <param name="wrist_alignment_target_hand_y" value="$(arg wrist_alignment_target_hand_y)" />
        <param name="wrist_alignment_target_hand_z" value="$(arg wrist_alignment_target_hand_z)" />
        <param name="wrist_alignment_max_step_xy" value="$(arg wrist_alignment_max_step_xy)" />
        <param name="wrist_alignment_max_step_z" value="$(arg wrist_alignment_max_step_z)" />
        <param name="enable_wrist_tf_guard" value="$(arg enable_wrist_tf_guard)" />
        <param name="wrist_tf_guard_trans_tol" value="$(arg wrist_tf_guard_trans_tol)" />
        <param name="wrist_tf_guard_rot_tol_deg" value="$(arg wrist_tf_guard_rot_tol_deg)" />
        <param name="insert_extra_depth_min" value="$(arg insert_extra_depth_min)" />
        <param name="insert_depth_margin" value="$(arg insert_depth_margin)" />
        <param name="insert_extra_depth_max" value="$(arg insert_extra_depth_max)" />
        <param name="insert_distance_over_back_cap" value="$(arg insert_distance_over_back_cap)" />
        <param name="insert_distance_absolute_max" value="$(arg insert_distance_absolute_max)" />
        <param name="wrist_visibility_margin_px" value="$(arg wrist_visibility_margin_px)" />
        <param name="wrist_require_full_visibility" value="$(arg wrist_require_full_visibility)" />
        <param name="wrist_visibility_fallback_max_insert" value="$(arg wrist_visibility_fallback_max_insert)" />
        <param name="wrist_min_insert_fraction" value="$(arg wrist_min_insert_fraction)" />
        <param name="use_iterative_wrist_alignment" value="$(arg use_iterative_wrist_alignment)" />
        <param name="wrist_alignment_max_iters" value="$(arg wrist_alignment_max_iters)" />
        <param name="use_final_wrist_alignment" value="$(arg use_final_wrist_alignment)" />
        <param name="wrist_alignment_allow_vertical" value="$(arg wrist_alignment_allow_vertical)" />
        <param name="wrist_alignment_use_camera_plane_tf" value="$(arg wrist_alignment_use_camera_plane_tf)" />
        <param name="final_preinsert_world_z_lift" value="$(arg final_preinsert_world_z_lift)" />
        <param name="wrist_vlm_timeout_sec" value="$(arg wrist_vlm_timeout_sec)" />
        <param name="require_wrist_alignment" value="$(arg require_wrist_alignment)" />
        <param name="wrist_alignment_before_pregrasp" value="$(arg wrist_alignment_before_pregrasp)" />
        <param name="use_wrist_guided_insert_distance" value="$(arg use_wrist_guided_insert_distance)" />
        <param name="wrist_extra_insert_max" value="$(arg wrist_extra_insert_max)" />
        <param name="wrist_insert_allow_shorten" value="$(arg wrist_insert_allow_shorten)" />
        <param name="wrist_insert_shorten_max" value="$(arg wrist_insert_shorten_max)" />
        <param name="wrist_insert_depth_scale" value="$(arg wrist_insert_depth_scale)" />
        <param name="wrist_insert_depth_cap" value="$(arg wrist_insert_depth_cap)" />
        <param name="wrist_alignment_tol" value="$(arg wrist_alignment_tol)" />
        <param name="wrist_grasp_depth_margin" value="$(arg wrist_grasp_depth_margin)" />
        <param name="wrist_grasp_forward_min" value="$(arg wrist_grasp_forward_min)" />
        <param name="wrist_grasp_forward_max" value="$(arg wrist_grasp_forward_max)" />
        <param name="use_wrist_grasp_refinement" value="$(arg use_wrist_grasp_refinement)" />
        <param name="wrist_object_cloud_topic" value="$(arg wrist_object_cloud_topic)" />
        <param name="wrist_grasp_pose_topic" value="$(arg wrist_grasp_pose_topic)" />
        <param name="wrist_grasp_info_topic" value="$(arg wrist_grasp_info_topic)" />
        <param name="wrist_grasp_timeout_sec" value="$(arg wrist_grasp_timeout_sec)" />
        <param name="wrist_grasp_bbox_margin_px" value="$(arg wrist_grasp_bbox_margin_px)" />
        <param name="wrist_grasp_depth_band" value="$(arg wrist_grasp_depth_band)" />
        <param name="wrist_grasp_min_points" value="$(arg wrist_grasp_min_points)" />
        <param name="wrist_grasp_cloud_max_points" value="$(arg wrist_grasp_cloud_max_points)" />
        <param name="wrist_grasp_min_approach_alignment" value="$(arg wrist_grasp_min_approach_alignment)" />
        <param name="refresh_collision_before_pick" value="$(arg refresh_collision_before_pick)" />
        <param name="grasp_corridor_padding" value="$(arg grasp_corridor_padding)" />
        <param name="enable_direct_grasp_fallback" value="$(arg enable_direct_grasp_fallback)" />
        <rosparam param="direct_grasp_back_distance_candidates" subst_value="True">$(arg direct_grasp_back_distance_candidates)</rosparam>
        <param name="direct_grasp_planning_time" value="$(arg direct_grasp_planning_time)" />
        <param name="direct_grasp_planning_attempts" value="$(arg direct_grasp_planning_attempts)" />
        <param name="direct_grasp_retreat_distance" value="$(arg direct_grasp_retreat_distance)" />
        <param name="direct_grasp_require_width_hold" value="$(arg direct_grasp_require_width_hold)" />
        <param name="enable_gazebo_attach" value="$(arg enable_gazebo_attach)" />
        <param name="enable_attached_collision_object" value="$(arg enable_attached_collision_object)" />
        <param name="gazebo_attach_distance_threshold" value="$(arg gazebo_attach_distance_threshold)" />
        <param name="gazebo_attach_link_name" value="$(arg gazebo_attach_link_name)" />
        <param name="use_gazebo_grasp_height_correction" value="$(arg use_gazebo_grasp_height_correction)" />
        <param name="gazebo_grasp_height_correction_xy_threshold" value="$(arg gazebo_grasp_height_correction_xy_threshold)" />
        <param name="gazebo_grasp_height_correction_max_delta" value="$(arg gazebo_grasp_height_correction_max_delta)" />
        <param name="gazebo_height_correction_blend_ratio" value="$(arg gazebo_height_correction_blend_ratio)" />
        <param name="gazebo_height_correction_max_z" value="$(arg gazebo_height_correction_max_z)" />
        <param name="gazebo_grasp_height_correction_z_bias" value="$(arg gazebo_grasp_height_correction_z_bias)" />
        <param name="transport_step_size" value="$(arg transport_step_size)" />
        <param name="insert_step_size" value="$(arg insert_step_size)" />
        <param name="retreat_step_size" value="$(arg retreat_step_size)" />
        <param name="lift_step_size" value="$(arg lift_step_size)" />
        <param name="post_grasp_lift_distance" value="$(arg post_grasp_lift_distance)" />
        <param name="cartesian_eef_step" value="$(arg cartesian_eef_step)" />
        <param name="use_pose_preserving_transport" value="$(arg use_pose_preserving_transport)" />
        <param name="place_hover_height" value="$(arg place_hover_height)" />
        <param name="place_release_height_offset" value="$(arg place_release_height_offset)" />
        <param name="place_release_height_above_basket" value="$(arg place_release_height_above_basket)" />
        <param name="place_orientation_mode" value="$(arg place_orientation_mode)" />
        <param name="place_allow_position_only_fallback" value="$(arg place_allow_position_only_fallback)" />
        <param name="place_path_orientation_tolerance_deg" value="$(arg place_path_orientation_tolerance_deg)" />
        <param name="place_ik_timeout_sec" value="$(arg place_ik_timeout_sec)" />
        <param name="place_ik_seed_trials" value="$(arg place_ik_seed_trials)" />
        <param name="plan_execution_start_tolerance" value="$(arg plan_execution_start_tolerance)" />
        <param name="global_velocity_scaling" value="$(arg global_velocity_scaling)" />
        <param name="global_acceleration_scaling" value="$(arg global_acceleration_scaling)" />
        <param name="place_fallback_velocity_scaling" value="$(arg place_fallback_velocity_scaling)" />
        <param name="place_fallback_acceleration_scaling" value="$(arg place_fallback_acceleration_scaling)" />
        <param name="cartesian_retime" value="$(arg cartesian_retime)" />
        <param name="cartesian_velocity_scaling" value="$(arg cartesian_velocity_scaling)" />
        <param name="cartesian_acceleration_scaling" value="$(arg cartesian_acceleration_scaling)" />
        <param name="simple_place_drop" value="$(arg simple_place_drop)" />
        <param name="fast_drop_when_inside_basket" value="$(arg fast_drop_when_inside_basket)" />
        <param name="fast_drop_inner_margin_xy" value="$(arg fast_drop_inner_margin_xy)" />
        <param name="fast_drop_min_height_above_top" value="$(arg fast_drop_min_height_above_top)" />
        <rosparam param="grasp_roll_variants" subst_value="True">$(arg grasp_roll_variants)</rosparam>
        <param name="grasp_force" value="$(arg grasp_force)" />
        <param name="grasp_width_margin" value="$(arg grasp_width_margin)" />
        <param name="grasp_width_margin_ratio" value="$(arg grasp_width_margin_ratio)" />
        <param name="grasp_width_margin_wide" value="$(arg grasp_width_margin_wide)" />
        <param name="grasp_width_margin_wide_threshold" value="$(arg grasp_width_margin_wide_threshold)" />
        <param name="grasp_command_width_min" value="$(arg grasp_command_width_min)" />
        <param name="grasp_command_width_max" value="$(arg grasp_command_width_max)" />
        <param name="grasp_probe_retreat_distance" value="$(arg grasp_probe_retreat_distance)" />
        <param name="grasp_probe_wait_sec" value="$(arg grasp_probe_wait_sec)" />
        <param name="enable_grasp_resqueeze_retry" value="$(arg enable_grasp_resqueeze_retry)" />
        <param name="grasp_resqueeze_extra_margin" value="$(arg grasp_resqueeze_extra_margin)" />
        <param name="grasp_resqueeze_force_boost" value="$(arg grasp_resqueeze_force_boost)" />
        <param name="grasp_empty_close_threshold" value="$(arg grasp_empty_close_threshold)" />
        <param name="grasp_epsilon_inner" value="$(arg grasp_epsilon_inner)" />
        <param name="grasp_epsilon_outer" value="$(arg grasp_epsilon_outer)" />
        <param name="close_extra_shrink" value="$(arg close_extra_shrink)" />
        <param name="close_width_floor" value="$(arg close_width_floor)" />
        <param name="grasp_timeout_sec" value="$(arg grasp_timeout_sec)" />
        <param name="soft_grasp_width_tolerance" value="$(arg soft_grasp_width_tolerance)" />
        <param name="soft_grasp_under_width_tolerance" value="$(arg soft_grasp_under_width_tolerance)" />
        <param name="soft_grasp_over_width_tolerance" value="$(arg soft_grasp_over_width_tolerance)" />
        <param name="soft_grasp_min_width" value="$(arg soft_grasp_min_width)" />
        <param name="soft_grasp_max_width" value="$(arg soft_grasp_max_width)" />
        <param name="force_grasp_verify_after_close" value="$(arg force_grasp_verify_after_close)" />
        <param name="force_grasp_verify_after_retreat" value="$(arg force_grasp_verify_after_retreat)" />
        <param name="force_grasp_verify_wait_sec" value="$(arg force_grasp_verify_wait_sec)" />
        <param name="gazebo_functional_grasp_verify" value="$(arg gazebo_functional_grasp_verify)" />
        <param name="gazebo_functional_grasp_max_object_to_ee" value="$(arg gazebo_functional_grasp_max_object_to_ee)" />
        <param name="gazebo_functional_grasp_min_object_motion" value="$(arg gazebo_functional_grasp_min_object_motion)" />
        <param name="gazebo_functional_grasp_min_follow_ratio" value="$(arg gazebo_functional_grasp_min_follow_ratio)" />
        <param name="gazebo_functional_grasp_probe_min_object_motion" value="$(arg gazebo_functional_grasp_probe_min_object_motion)" />
        <param name="gazebo_functional_grasp_probe_min_follow_ratio" value="$(arg gazebo_functional_grasp_probe_min_follow_ratio)" />
        <param name="refresh_collision_after_each_place" value="$(arg refresh_collision_after_each_place)" />
  </node>

  <node pkg="panda_pick_place" type="gtsp_scheduler.py" name="gtsp_scheduler_node" output="screen"
        if="$(arg launch_scheduler)"
        launch-prefix="/usr/bin/python3">
    <param name="pose_topic" value="$(arg scheduler_pose_topic)" />
    <param name="info_topic" value="$(arg scheduler_info_topic)" />
    <param name="fallback_pose_topic" value="$(arg fallback_pose_topic)" />
    <param name="fallback_info_topic" value="$(arg fallback_info_topic)" />
    <param name="fallback_timeout_sec" value="$(arg fallback_timeout_sec)" />
    <param name="enable_fallback" value="$(arg enable_scheduler_fallback)" />
    <param name="semantic_weight" value="$(arg semantic_weight)" />
    <param name="reachability_weight" value="$(arg reachability_weight)" />
    <param name="per_task_candidate_count" value="$(arg per_task_candidate_count)" />
    <param name="ga_population_size" value="$(arg ga_population_size)" />
    <param name="ga_generations" value="$(arg ga_generations)" />
    <param name="ga_mutation_rate" value="$(arg ga_mutation_rate)" />
    <param name="allow_unreachable_candidate_dispatch" value="$(arg allow_unreachable_candidate_dispatch)" />
    <param name="ik_seed_trials" value="$(arg scheduler_ik_seed_trials)" />
    <param name="ik_timeout_sec" value="$(arg scheduler_ik_timeout_sec)" />
    <param name="max_observation_ik_attempts_per_candidate" value="$(arg execution_ik_max_observation_attempts)" />
    <param name="semantic_fallback_timeout_min" value="$(arg semantic_fallback_timeout_min)" />
    <param name="force_shelf_normal_approach" value="$(arg force_shelf_normal_approach)" />
    <param name="shelf_pose_fallback_yaw" value="$(arg shelf_pose_fallback_yaw)" />
    <rosparam param="pre_grasp_back_distance_candidates" subst_value="True">$(arg pre_grasp_back_distance_candidates)</rosparam>
    <param name="wrist_observation_backoff" value="$(arg wrist_observation_backoff)" />
    <rosparam param="observation_lift_candidates" subst_value="True">$(arg observation_lift_candidates)</rosparam>
    <rosparam param="grasp_roll_variants" subst_value="True">$(arg grasp_roll_variants)</rosparam>
    <param name="grasp_pose_approach_axis" value="$(arg grasp_pose_approach_axis)" />
    <param name="grasp_pose_open_axis" value="$(arg grasp_pose_open_axis)" />
    <param name="enforce_horizontal_gripper_open_axis" value="$(arg enforce_horizontal_gripper_open_axis)" />
    <param name="max_gripper_open_axis_vertical_component" value="$(arg max_gripper_open_axis_vertical_component)" />
  </node>

  <node pkg="sam_perception" type="wrist_vlm_node.py" name="wrist_vlm_node" output="screen"
        if="$(arg launch_wrist_vlm)"
        launch-prefix="env LD_PRELOAD=$(arg anygrasp_ld_preload) $(arg anygrasp_python)">
    <param name="api_key" value="$(arg vlm_api_key)" />
    <param name="model" value="$(arg vlm_model)" />
    <param name="base_url" value="$(arg vlm_base_url)" />
    <param name="vlm_timeout_sec" value="$(arg wrist_vlm_timeout_sec)" />
    <param name="vlm_max_retries" value="$(arg wrist_vlm_max_retries)" />
    <param name="max_image_side" value="$(arg wrist_vlm_max_image_side)" />
    <param name="jpeg_quality" value="$(arg wrist_vlm_jpeg_quality)" />
    <env name="DASHSCOPE_API_KEY" value="$(arg vlm_api_key)" />
    <env name="OPENAI_API_KEY" value="$(arg vlm_api_key)" />
  </node>

  <node pkg="sam_perception" type="global_vlm_target_node.py" name="global_vlm_target_node" output="screen"
        if="$(arg launch_global_vlm)"
        launch-prefix="env LD_PRELOAD=$(arg anygrasp_ld_preload) $(arg anygrasp_python)">
    <param name="api_key" value="$(arg vlm_api_key)" />
    <param name="model" value="$(arg vlm_model)" />
    <param name="base_url" value="$(arg vlm_base_url)" />
    <param name="vlm_timeout_sec" value="$(arg global_vlm_timeout_sec)" />
    <param name="vlm_max_retries" value="$(arg global_vlm_max_retries)" />
    <param name="allow_partial_targets" value="$(arg global_vlm_allow_partial_targets)" />
  </node>

  <!-- IK filter: GraspNet raw 候选 → IK 可达性过滤 → semantic reranker -->
  <node pkg="sam_perception" type="ik_filter.py" name="ik_filter" output="screen"
        if="$(arg launch_ik_filter)"
        launch-prefix="/usr/bin/python3">
    <param name="pose_topic_in" value="/graspnet/grasp_pose_array_raw" />
    <param name="info_topic_in" value="/graspnet/grasp_info_raw" />
    <param name="pose_topic_out" value="/graspnet/grasp_pose_array_ik" />
    <param name="info_topic_out" value="/graspnet/grasp_info_ik" />
    <param name="ik_timeout" value="$(arg ik_filter_timeout_sec)" />
    <param name="min_feasible_per_object" value="1" />
    <param name="max_feasible_per_object" value="$(arg ik_filter_max_feasible_per_object)" />
    <param name="max_ik_checks_per_object" value="$(arg ik_filter_max_ik_checks_per_object)" />
    <param name="assume_all_reachable" value="$(arg ik_filter_assume_all_reachable)" />
    <param name="force_shelf_normal_approach" value="$(arg force_shelf_normal_approach)" />
    <param name="max_observation_ik_attempts_per_candidate" value="$(arg execution_ik_max_observation_attempts)" />
    <param name="force_shelf_normal_approach" value="$(arg force_shelf_normal_approach)" />
    <param name="shelf_pose_fallback_yaw" value="$(arg shelf_pose_fallback_yaw)" />
    <rosparam param="pre_grasp_back_distance_candidates" subst_value="True">$(arg pre_grasp_back_distance_candidates)</rosparam>
    <param name="wrist_observation_backoff" value="$(arg wrist_observation_backoff)" />
    <rosparam param="observation_lift_candidates" subst_value="True">$(arg observation_lift_candidates)</rosparam>
    <rosparam param="grasp_roll_variants" subst_value="True">$(arg grasp_roll_variants)</rosparam>
    <param name="grasp_pose_approach_axis" value="$(arg grasp_pose_approach_axis)" />
    <param name="grasp_pose_open_axis" value="$(arg grasp_pose_open_axis)" />
    <param name="enforce_horizontal_gripper_open_axis" value="$(arg enforce_horizontal_gripper_open_axis)" />
    <param name="max_gripper_open_axis_vertical_component" value="$(arg max_gripper_open_axis_vertical_component)" />
  </node>

  <node pkg="sam_perception" type="semantic_reranker.py" name="semantic_reranker" output="screen"
        if="$(arg launch_semantic_reranker)"
        launch-prefix="env LD_PRELOAD=$(arg anygrasp_ld_preload) $(arg anygrasp_python)">
    <param name="api_key" value="$(arg vlm_api_key)" />
    <param name="model" value="$(arg vlm_model)" />
    <param name="base_url" value="$(arg vlm_base_url)" />
    <param name="pose_topic" value="/graspnet/grasp_pose_array_ik" />
    <param name="info_topic" value="/graspnet/grasp_info_ik" />
    <param name="strict_width_filter" value="$(arg strict_width_filter)" />
    <param name="gripper_width_max" value="$(arg gripper_width_max)" />
    <param name="gripper_width_margin" value="$(arg gripper_width_margin)" />
    <param name="vlm_timeout_sec" value="$(arg semantic_vlm_timeout_sec)" />
    <param name="vlm_max_retries" value="$(arg semantic_vlm_max_retries)" />
    <param name="vlm_parallel_workers" value="$(arg semantic_vlm_parallel_workers)" />
    <param name="skip_vlm_for_single_object" value="$(arg semantic_skip_vlm_for_single_object)" />
    <param name="max_candidates_per_object" value="$(arg semantic_max_candidates_per_object)" />
    <param name="overview_candidates_per_object" value="$(arg semantic_overview_candidates_per_object)" />
    <param name="max_output_candidates_per_object" value="$(arg semantic_output_candidates_per_object)" />
    <param name="center_offset_weight" value="$(arg semantic_center_offset_weight)" />
    <param name="target_image_topic" value="/vlm/global_target_image" />
    <param name="visualize_candidate_crop" value="false" />
    <param name="save_candidate_crop" value="false" />
    <param name="save_candidate_json" value="false" />
    <param name="visualize_global_overview" value="false" />
    <param name="save_global_overview" value="false" />
  </node>


  <!-- <node pkg="panda_pick_place" type="control_panel.py" name="demo_control_panel" output="screen"
        launch-prefix="/usr/bin/python3">
  </node> -->



  <include file="$(find sam_perception)/launch/experiment_logger.launch"
           if="$(arg launch_experiment_logger)">
    <arg name="scene_label" value="$(arg scene_label)" />
    <arg name="notes" value="$(arg experiment_notes)" />
    <arg name="output_file" value="$(arg experiment_output_file)" />
  </include>

</launch>
