<?xml version="1.0"?>
<model>
  <name>grasp_basket</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Codex</name>
    <email>n/a</email>
  </author>
  <description>
    A simple open-top basket model for collecting grasped objects in Gazebo.
  </description>
</model>
